:root {
  --font-family: "Helvetica Neue", sans-serif;

  --bg-green: #103931;
  --bg-page: #f3f3f3;
  --bg-card: #fbfbfb;
}

/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
