body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}
.page {
  /* min-height: 100vh; */
}

.hero {
}

.heroCard {
  width: 100%;
  height: 736px;
  /* margin: 0 auto; */
  border-radius: 30px;

  overflow: hidden;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* LEFT SIDE */
.left {
  background: #103931;
  position: relative;
}

.leftInner {
  max-width: 520px;
  /* height: 198px; */
  margin: 242px 0 0 96px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  margin: 0 0 28px 0;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 70px;
  line-height: 1;
  letter-spacing: -0.03em;
  color: #fbfbfb;
}

.subtitle {
  margin: 0 0 64px 0;
  max-width: 520px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 28px;
  line-height: 1.07143;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}

/* CTA */
.cta {
  width: 228px;
  height: 58px;
  /* padding: 18px 50px; */

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 18px;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;

  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #fbfbfb;

  border: 1px solid rgba(251, 251, 251, 0.4);
  border-radius: 30px;

  text-decoration: none;
  background: transparent;
}

.ctaContainer {
  /* margin-top: 16px; */
}

.ctaIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* RIGHT SIDE (IMAGE) */
.right {
  position: relative;

  background-image: url("/BG.jpg");
  background-size: cover;
  background-position: center;
}

/* .right::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.22);
} */

/* STAT CARD */
.statCard {
  position: absolute;
  right: 50px;
  bottom: 50px;
  z-index: 2; /* поверх overlay */

  width: 252px;
  height: 118px;
  background: #fbfbfb;
  border-radius: 20px;

  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0 0 0 32px;
}

.checkBox {
  width: 54px;
  height: 54px;
  border-radius: 13px;
  background: #103931;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #fbfbfb;
}

.statText {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.statLabel {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: rgba(17, 16, 28, 0.5);
}

.statValue {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  color: #11101c;
}
