.page {
  background: var(--bg-page);
}

.hero {
  position: relative;
  padding: 16px;
}

.heroCard {
  width: 100%;
  border-radius: 30px;
  overflow: hidden;

  display: grid;
  grid-template-columns: 1fr;

  position: relative;
}

.heroCard::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 88px;
  height: 1px;
  background: var(--border-dark);
  z-index: 5;
  pointer-events: none;
}

.left {
  background: var(--primary-dark);
}

.leftInner {
  max-width: 520px;
  padding: 96px 16px 48px;

  display: flex;
  flex-direction: column;
}

.title {
  margin: 0 0 20px;
  font-weight: 500;
  font-size: clamp(34px, 8vw, 70px);
  line-height: 1;
  letter-spacing: -0.03em;
  color: var(--text-light);
}

.subtitle {
  margin: 0 0 40px;
  font-weight: 400;
  font-size: clamp(16px, 4vw, 28px);
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--text-light);
}

.cta {
  width: fit-content;
  min-height: 56px;
  padding: 0 16px;

  display: inline-flex;
  align-items: center;
  gap: 10px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: var(--text-light);

  border: 1px solid rgba(251, 251, 251, 0.4);
  border-radius: 30px;
  background: transparent;
  text-decoration: none;
}

.ctaIcon {
  fill: var(--text-light);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
}

.cta:hover .ctaIcon {
  transform: translateX(4px) rotate(45deg);
  /* opacity: 0.95; */
  transition: all 0.3s;
}

.right {
  position: relative;
  min-height: 280px;
  background-image: url("/BG.jpg");
  background-image: image-set(url("/BG.jpg") 1x, url("/BG2x.jpg") 2x);
  background-size: cover;
  background-position: center;
}

.statCard {
  position: absolute;
  right: 16px;
  bottom: 16px;

  width: 220px;
  padding: 14px 16px;

  background: var(--text-light);
  border-radius: 20px;

  display: flex;
  align-items: center;
  gap: 14px;
}

.checkBox {
  width: 48px;
  height: 48px;
  border-radius: 12px;
  background: var(--primary-dark);

  display: flex;
  align-items: center;
  justify-content: center;
}

.statLabel {
  font-weight: 400;
  font-size: 14px;
  color: rgba(17, 16, 28, 0.5);
}

.statValue {
  font-weight: 700;
  font-size: 20px;
  color: #11101c;
}

/* ===== TABLET ===== */
@media (min-width: 768px) {
  .hero {
    padding: 32px;
  }

  .right {
    min-height: 420px;
  }

  .statCard {
    width: 240px;
    right: 32px;
    bottom: 32px;
  }
  .cta {
    width: fit-content;
    min-height: 56px;
    padding: 18px 50px;

    display: inline-flex;
    align-items: center;
    gap: 16px;

    font-weight: 500;
    font-size: 18px;
    color: var(--text-light);
  }
}

/* ===== DESKTOP ===== */
@media (min-width: 1024px) {
  .heroCard {
    grid-template-columns: 1fr 1fr;
    min-height: 736px;
  }

  .leftInner {
    padding: 0;
    margin: 200px 0 0 50px;
  }

  .statCard {
    width: 252px;
    height: 118px;
    padding-left: 32px;
    right: 50px;
    bottom: 50px;
  }
}

@media (min-width: 1440px) {
  .leftInner {
    margin: 248px 0 0 96px;
  }
}
