.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(17, 17, 17, 0.4);
  /* display: grid;
  place-items: center; */
  padding: 16px;
  z-index: 1000;
  overflow-y: auto;
}

.modal {
  width: min(566px, 100%);
  background: #ffffff;
  border-radius: 30px;
  box-shadow: 0 16px 60px rgba(0, 0, 0, 0.18);
  margin: 110px auto 0;
}
